*.exe
*.o
*.sav
*.bin
/CMakeFiles
build/release/CMakeFiles
/build/Desktop_Qt_6_10_2_MinGW_64_bit-Debug
build/release/.cmake
build/release/.qtc_clangd
build/release/.qtc
build/release/wappysav2_autogen
build/release/testing
*.zip