[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=latest
X-AppImage-Name=Wappysav
Name=Wappysav
Exec=usr/bin/wappysav
Icon=application-vnd.appimage
Type=Application
Terminal=false
Categories=Utility;
Comment=
