name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4


    - name: Install Qt
      uses: jurplel/install-qt-action@v4.3.0
      with:
        version: "6.10.2"

    - name: qmake
      run: qmake.exe -makefile
      
    - name: make
      run: make
    - name: deploy
      run: windeployqt.exe build/Release

    - name: upload
      uses: actions/upload-artifact@v6.0.0
      with:
        path: /build


      

      
