name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4


    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: "6.10.2"

    - name: qmake
      working-directory: ${{github.workspace}}
      run: qmake
      
    - name: make
      working-directory: ${{github.workspace}}/build

      run: make
    - name: deploy
      working-directory: ${{github.workspace}}
      run: windeployqt.exe /build/Release

    - name: upload
      uses: actions/upload-artifact@v6.0.0
      
      with:
        path: ${{github.workspace}}/build


      

      
